<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>      
        <add name="Conexion"
connectionString="Data Source=QUISPE\SQLEXPRESS;Initial Catalog=BD_MECANICA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>